<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ncr.mobilepicklist" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ncricon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.ncr.mobilepicklist.activities.ActTakeItemPhoto"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name="com.ncr.mobilepicklist.activities.ActPictlistPictureChanger"
            android:label="@string/title_activity_act_pictlist_picture_changer"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name="com.ncr.mobilepicklist.activities.ActMain"
            android:label="@string/title_activity_act_main"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ncr.mobilepicklist.activities.ActNetworkSettings"
            android:label="@string/title_activity_act_network_settings"
            android:screenOrientation="portrait"
            android:noHistory="true">
        </activity>
        <activity
            android:name="com.ncr.mobilepicklist.activities.ActInsertUPC"
            android:label="@string/title_activity_act_insert_upc"
            android:screenOrientation="portrait"
            android:noHistory="true">
                <!--<intent-filter>-->
                    <!--<action android:name="android.intent.action.MAIN" />-->

                    <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--</intent-filter>-->
            </activity>
            <activity
                android:name="com.ncr.mobilepicklist.activities.ActSaveItemConfirm"
                android:label="@string/title_activity_act_save_item_confirm"
                android:screenOrientation="portrait"
                android:noHistory="true">
            </activity>
        </application>

    </manifest>
